<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{item.name}}</h2>
    <p>Users who added this product/item under their wish list:</p>
    <p>{{user.name}}</p>
    <p>Mark</p>
    <p>Steve</p>
    <p>Marie</p>
    <p><a href="/dashboard">Home</a></p>
    <p><a href="/logout">Logout</a></p>
</body>
</html>